---
menukey: reset-password
show_menu: false
show_user: false
show_footer: false
is_dialog: true
---

<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Reset your password</p>
            <div class="block-body">
                <form>
                    <label>Email Address</label>
                    <input type="text" class="span12"></input>
                    <a href="index.html" class="btn btn-primary pull-right">Send</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <a href="sign-in.html">Sign in to your account</a>
    </div>
</div>

