---
menukey: sign-in
show_menu: false
show_user: false
show_footer: false
is_dialog: true
---

<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Sign In</p>
            <div class="block-body">
                <form>
                    <label>Username</label>
                    <input type="text" class="span12">
                    <label>Password</label>
                    <input type="password" class="span12">
                    <a href="index.html" class="btn btn-primary pull-right">Sign In</a>
                    <label class="remember-me"><input type="checkbox"> Remember me</label>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <p class="pull-right" style=""><a href="http://www.portnine.com" target="blank">Theme by Portnine</a></p>
        <p><a href="reset-password.html">Forgot your password?</a></p>
    </div>
</div>

