---
menukey: sign-in
show_menu: false
show_user: false
show_footer: false
is_dialog: true
---

<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Sign Up</p>
            <div class="block-body">
                <form>
                    <label>First Name</label>
                    <input type="text" class="span12">
                    <label>Last Name</label>
                    <input type="text" class="span12">
                    <label>Email Address</label>
                    <input type="text" class="span12">
                    <label>Username</label>
                    <input type="text" class="span12">
                    <label>Password</label>
                    <input type="password" class="span12">
                    <a href="index.html" class="btn btn-primary pull-right">Sign Up!</a>
                    <label class="remember-me"><input type="checkbox"> I agree with the <a href="terms-and-conditions.html">Terms and Conditions</a></label>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <p><a href="privacy-policy.html">Privacy Policy</a></p>
    </div>
</div>

